#mainPage {
	/*width: 1000px;
	height: 2000px; */
	border-color: #000;
	border: solid 1px;
	display: flex;
	flex-direction: line;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

#entete{
	width: 100%;
	height: 200px;
	border-color: #000;
	border: solid 1px;
	background:lightgrey;
	flex-wrap: wrap;

}

#menu{
	width: 200px;
	height: 2000px;
	border-color: #000;
	border: solid 1px;
	background:red;

}

#premiereSection{
	display: flex;
	flex-wrap: wrap;
	width: 150px;
	height: 2000px;
	border-color: #000;
	border: solid 2px;
	background:green;
	flex: 1;

}

#secondeSection{
	width: 200px;
	height: 200px; 
	border-color: #000;
	border: solid 1px;
	background:blue;
	flex-wrap: wrap;

}#troisiemeSection{
	width: 200px;
	height: 200px; 
	border-color: #000;
	border: solid 1px;
	background:orange;

}#quatriemeSection{
	width: 200px;
	height: 200px; 
	border-color: #000;
	border: solid 1px;
	background:purple;

}#cinquiemeSection{
	width: 200px;
	height: 200px; 
	border-color: #000;
	border: solid 1px;
	background:yellow;

}#sixiemeSection{
	width: 200px;
	height: 200px; 
	border-color: #000;
	border: solid 1px;
	background:pink;

}#septiemeSection{
	width: 200px;
	height: 200px; 
	border-color: #000;
	border: solid 1px;
	background:red;

}