.tinyProgressbar {
	background: #d2d2d2;
	padding: 5px 0;
	width: 300px;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}
	.tinyProgressbar * {
		z-index: 100;
		position: relative;
	}
	.tinyProgressbar .value {
		text-align: center;
		display: block;
		background-color: transparent;
	}
	.tinyProgressbar .bar {
		background: #9DDB29 !important;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 0;
		padding: 0 !important;
		margin: 0 !important;
	}